
body{
	margin:0;
}

/* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	padding: 0;
}

/* Links inside the navbar */
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
	background: #ddd;
	color: black;
}
/* Main content */
main {
	margin-left:15px;
	margin-top: 60px; /* Add a top margin to avoid content overlay */
}

.big-select{
	display: inline-block;
	font-size: 20px;
	margin: 2px;
	margin-top: 12px;
	text-align: center;
	width: 15px;
	height: 25px;
	border: solid 1px lightgray;
	transform: translate(-50%,-50%);
	user-select: none;
}
.boxing {
	margin-top: 4px;
	padding: 5px;
	border: solid 1px lightgray;
	/*width: auto;*/
}

a.right {
	float:right;
}

.flexing-down{
	display: flex;
	flex-direction: column;
}

.rooms.rooms-select{
	padding: 1rem;
}
.extra-select{
	margin-top: 4px;
}
.rooms {
	border: black 1px solid;
	padding: 4px;
	width: fit-content;
	margin: 3px;
	display: block;
}
.flex-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.rooms img {
	width: 100px;
	height: 100px;
}
.rooms-select img {
	width: 300px;
	height: 300px;
}
.rooms div {
	margin-left: 15px;
}
